<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello</h1>
    <form action="" method="post">
        {% csrf_token %}
 
    <label> Firstname </label>         
<input type="text" name="first" size="15"/> <br> <br>  
<label> Lastname: </label>         
<input type="text" name="last" size="15"/> <br> <br> 
<label> email </label>     
<input type="text" name="email" size="15"/> <br> <br> 
<label>password </label>     
<input type="text" name="psw" size="15"/> <br> <br>   
<label> username: </label>     
<input type="text" name="User_name" size="15"/> <br> <br> 
      
<input type="submit"  value="register"/>

</form>

</body>
</html>